<!DOCTYPE html>
html(lang='en')
  head
    meta(name='description' content='litlenamewebsite')
    meta(name='keywords' content='onekeywords, twokeywords')
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    link(rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon")
    link(rel='stylesheet' href='css/style.min.css')
  body
    p assssss
    img(src="img/img_test.jpg", alt="asdasd")
    script(src='js/script.min.js')


